@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    height: 100px;
    text-align: center;
}
h2{
    padding: 32px;
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
}
.mid{
    translate: 25vw 100px;
    height: 80vh;
    width: 50vw;
}
.inp{
    display: flex;
}
input{
    width: 45vw;
    height: 30px;
    padding: 5px;
    font-size: medium;
    font-weight: 300;
}
.inp button{
    height: 43px;
    padding: 4px 8px;
    margin: 0 15px;
    border: 2px solid black;
    font-size: medium;
    font-weight: 300;
    background-color: black;
    color: antiquewhite;
    cursor: pointer;
    
}
.tasks div{
    margin: 12px 15px 12px 0;
    padding: 11px 5px 0 5px;
    border: 2px solid black;
    height: 30px;
    position:relative;
    overflow: hidden;
}
.tasks div button{
    position:absolute;
    left: 98%;
    transform: translateX(-98%);
    border: 2px solid black;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 2px;
}
@media (max-width:460px) {
    .tasks div button{
        translate:calc(100% + 12px);
    }
    .tasks div{
        overflow: visible;
    }
}
